body {
	padding: 1em;
	text-align: center;
	font-family: adobe-garamond-pro, serif; 
	max-width: 50em;
	margin: 0 auto;
	color: #222;
	font-size: 120%;
	line-height: 1.4;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {
	line-height: 0.9;
	font-size: 3em;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #c00;
}

img {
	vertical-align: middle;
	display: inline-block;
	max-width: 100%;
}

.cf:after {
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

header {
	margin-bottom: 2em;
}

nav li {
	display: inline-block;
	margin: 0 0.75em;
}

nav li.separator {
	font-size: 1.2em;
	vertical-align: middle;
}

nav li.separator:after {
	content: '‡';
}

section {
	padding: 0 1em 1em 1em;
	border: 1px solid #ddd;
	margin: 2.5em 0;
}

section h2 {
	margin-top: -0.65em;
}

section h2 span {
	display: inline-block;
	background: #fff;
	padding: 0 0.5em;
}

.yt {
	height: 0;
	padding-bottom: 55.8%;
	position: relative;
}

.yt iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.turneu {
	margin: 0 auto;
	border-collapse: collapse;
}

.turneu thead tr {
	border-bottom: 1px solid #ddd;
	text-transform: lowercase;
	font-variant: small-caps;
}

.turneu td, 
.turneu th {
	text-align: left;
	padding: 0.5em 1em;
	font-weight: normal;
}

.album {
	padding-bottom: 2em;
}

.album h3, .album h4 {
	margin: 0;
}

.album h4 {
	font-style: italic;
	margin-bottom: 1em;
}

.album--secondary {
	padding-bottom: 0;
}

.album--secondary h3 {
	font-size: 1em;
}

.album--secondary h4 {
	font-size: 0.8em;
}

.album__cover {
	display: block;
	/*max-width: 16em;*/
	margin: 0 auto;
	position: relative;
	background: #000;
	box-shadow: 0 0.15em 0.4em rgba(0, 0, 0, 0.2);
}

.album__cover img {
	display: block;
	width: 100%;
	transition: 0.2s opacity;
	opacity: 1;
	/*border: 1px solid #E5E5E5;*/
}

.album__cover:after {
	content: 'Download MP3';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: 0.2s opacity;

	font-variant: small-caps;
	letter-spacing: 0.05em;
	text-transform: lowercase;
	background: #c00;
	padding: 0em 0.5em;
	color: #fff;
	border-radius: 0.2em;
}

.album--secondary .album__cover:after {
	font-size: 0.75em;
	letter-spacing: 0.1em;
}

.linkbtn {
	position: relative;
}

.linkbtn:after {
	content: attr(data-title);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: 0.2s opacity;

	font-variant: small-caps;
	letter-spacing: 0.05em;
	text-transform: lowercase;
	background: #c00;
	padding: 0em 0.5em;
	color: #fff;
	border-radius: 0.2em;
}

.linkbtn:hover:after {
	opacity: 1;
}

.slash {
	/*font-size: 1.2em;*/
	/*display: inline-block;*/
	/*vertical-align: middle;*/
}

.dagger {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.5em;
}

.album__cover:hover img {
	opacity: 0.5;
}

.album__cover:hover:after {
	opacity: 1;
}

.album__links {
	padding: 1em 0;
}

.album__link {
	/*display: inline-block;*/
	height: 1.25em;
	background-repeat: no-repeat;
	/*margin: 0.25em;*/
	display: block;
	margin: 1em auto;
}

.album--secondary .album__link {
	font-size: 0.75em;
}

.album__link--apple {
	background-image: url('../img/apple-music-bw.svg');
	background-size: auto 1em;
	background-position: center 40%;
	width: 5em;
}

.album__link--spotify {
	background-image: url('../img/spotify-bw.png');
	background-size: auto 1.25em;
	background-position: center center;
	width: 5em;
}

.album__link--bandcamp {
	background-image: url('../img/bandcamp.svg');
	background-size: auto 1.1em;
	background-position: center 90%;
	width: 7em;
}

footer {
	font-size: 0.9em;
	color: #777;
	margin: 2em 0;
}

/* Grids */
.grid {
	display: grid;
	grid-column-gap: 1.5em;
	align-items: stretch;
}

.grid--2 {
	grid-template-columns: repeat(2, 1fr);
}

.grid--4 {
	grid-template-columns: repeat(4, 1fr);
}

/* mobile */
@media (max-width:33em) {
	.grid {
		display: block;
	}

	body {
		font-size: 110%;
		padding: 0.5em;
	}

	nav li {
		display: block;
		padding: 0.25em 0;
	}

	.turneu {
		width: 100%;
	}

	.turneu th,
	.turneu td {
		padding-left: 0;
		padding-right: 0;
	}

	section {
		padding: 0.5em;
	}
}